html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  font-family: Helvetica Neue, san-serif;
}

main {
  padding: 0 40px;
}


ul, ol {
  padding-left: 0;
}

li {
  list-style: none;
}

.grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 1rem;
  justify-content: space-between;
}

.grid > li {
  width: 300px;
  background-color: rgb(231, 230, 231);
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.heading-lg {
  font-weight: 300;
  font-size: 3em;
  margin: 10px;
}

.heading-sm {
  font-size: 28px;
  font-weight: 300;
  margin: 10px;
}

.bg-light {
  background-color: rgb(0,0,0,0.1);
}

.stats {
  list-style: none;
  padding-left: 0;
}

.stats li {
  margin-bottom: 5px;
}

.stats li a {
  color: #000;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.stats li span {
  vertical-align: bottom;
}

.avatar {
  width: 150px;
  height: auto;
}

.link {
  color: crimson;
}

/* Battle Coponent */

.grid-battle {
  display: flex;
  flex-wrap: wrap;
}

.instructions-container {
  margin: 100px 0;
}

.container-sm {
  width: 80%;
  margin: 0 auto;
}

.battle-instructions {
  padding: 0;
  font-size: 25px;
}

.battle-instructions li {
  flex: 1;
  min-width: 300px;
}

.battle-instructions svg {
  padding: 40px;
  border-radius: 3px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.player {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
}

.player-label {
  font-size: 20px;
  margin: 5px 0;
  font-weight: 300;
}

.player-inputs input {
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  box-sizing: inset 0 1px 20px rgba(0, 0, 0, 0.15);
}

.player-inputs .input-light {
  background-color: rgba(0, 0, 0, 0.02);
}

.player-inputs button {
  flex: 1;
  margin-left: 10px;
}

.btn {
  padding: 10px;
  text-decoration: uppercase;
  letter-spacing: .25em;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 200px;
}

.btn-dark {
  color: #e6e6e6;
  background-color: #141414;
}

.btn-dark:disabled {
  background-color: #f2f2f2;
  color: #c7c7c7;
}


.space-around {
  justify-content: space-around;
}

.players-container {
  margin: 100px 0;
}

.avatar-small {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.btn-clear {
  border: none;
  background: transparent;
}

.btn-clear:focus {
  outline: none;
}

.player-info {
  display: flex;
  flex: 1;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.player-info .link {
  text-decoration: none;
  margin-left: 10px;
}